@import './base.css';

#app {
  /*TODO: why is app not taking all the space in body?*/
  /* max-width: 1280px;
  margin: 0 0; */
  /* padding: 2rem; */
  /* font-weight: normal; */
  /*centered menu:*/
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  /* background-color: #FCFCFC; */
  /* Abstract colorful paint */
  background-image: url(bg1-pexels-steve-30486228.jpg);

  /* Building blocks */
  /* background-image: url(bg2-pexels-julia-bataeva-2150297626-31061860.jpg); */

  /* Drawing white on black, school learn math etc */
  /* background-image: url(bg3-chenspec-back-to-school-6305131_1920.jpg); */

  /* Imperfect drawing plants */
  background-image: url(bg4-anhl202-drawing-7279358_1920.jpg);

  /* Repeated grey and orange pattern */
  /* background-image: url(bg5-jimette-ornament-1791301_1920.jpg); */

  /* Repeated black and white flower pattern */
  /* background-image: url(bg6-jimette-ornament-1762198_1920.jpg); */

  /* Mandala */
  /* background-image: url(bg7-mandala_world-flower-6717262_1920.jpg); */

  /* Livre */
  /* background-image: url(bg8-openclipart-vectors-book-2028349_1920.png); */

    /* Puzzle drawing missing piece */
  /* background-image: url(bg9-alexas_fotos-puzzle-700381_1920.jpg); */

  background-size:cover;
  background-position: top;
  color: #222222;
}
#connection-popup {
    background-color: rgba(252, 252, 252, 1);
    color: #222222;
}

/* .MainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex: 1;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex; */
/* place-items: center; */
/* } */

/* #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 0rem;
  } */
/* } */